# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Renovate CLI
        run: npm install -g renovate

      - name: Install Flux CLI
        run: |
          curl -s https://fluxcd.io/install.sh | sudo bash
          flux --version  # Optional: confirm installation

      - name: Generate Flux Component Manifests (Split Files)
        run: |
          mkdir -p k8s/flux-systems

          flux install \
            --components=source-controller \
            --dry-run=client \
            --output=yaml > k8s/flux-systems/source-controller.yaml

          flux install \
            --components=kustomize-controller \
            --dry-run=client \
            --output=yaml > k8s/flux-systems/kustomize-controller.yaml

          flux install \
            --components=helm-controller \
            --dry-run=client \
            --output=yaml > k8s/flux-systems/helm-controller.yaml

          flux install \
            --components=notification-controller \
            --dry-run=client \
            --output=yaml > k8s/flux-systems/notification-controller.yaml


      - name: Run Renovate CLI
        env:
          RENOVATE_TOKEN: ${{ secrets.RENOVATE_GITHUB_TOKEN }}
          LOG_LEVEL: debug
        run: renovate ${{ github.repository }}
